@{
    ViewData["Title"] = "Home Page";
    ViewData["Message"] = 123;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h6>@ViewData["Message"]</h6>
    <h5>@ViewBag.HelloMessge</h5>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <p>Hello</p>
</div>

<div datetime></div>
    