@model AspNetSamples.Core.Dto.ArticleDto

<div>
    <h1>
        @Model.Title
    </h1>
    
    <div>
        @Html.Raw(Model.Content)
    </div>

</div>


<div>
    <a asp-action="Rate" asp-route-id="@Model.Id">Rate</a>
</div>