@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EditArticleViewModel

@{
    ViewData["Title"] = "Add article";
}

<h2>Edit Article</h2>

<form asp-action="EditProcessing" asp-controller="Article" method="post">

    <input asp-for="EditModel.Id" type="hidden" />

    <div>
        <label asp-for="EditModel.Title">Title</label>
        <input asp-for="EditModel.Title" type="text" class="form-control" />
    </div>

    <div>
        <label asp-for="EditModel.Description">Description</label>
        <input asp-for="EditModel.Description" type="text" class="form-control" />
    </div>

    <div>
        <label asp-for="EditModel.Text">Content</label>
        <textarea asp-for="EditModel.Text" class="form-control"></textarea>
    </div>

    <div>
        <label asp-for="EditModel.SourceId">Source Id</label>
        <input asp-for="EditModel.SourceId" type="text" class="form-control" />
    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
</form>