@using AspNetSamples.Core.Dto
@using AspNetSamples.Database
@using AspNetSamples.Services.Abstractions
@model ArticlesCollectionWithPaginationModel
@{
    ViewData["Title"] = "Articles";
    // Layout = null;
    @inject IArticleService ArticleService;
}

<h2>Articles</h2>
<a asp-action="Add" asp-controller="Article" class="btn btn-primary">Add new</a>

@if (Model.IsUserAdmin)
{
    <a asp-action="Aggregate" asp-controller="Article" class="btn btn-warning">Aggregate</a>
}

@if (Model.Articles.Any())
{
    <div class="articles-list row gx-2 gy-2">
        @foreach (var articleDto in Model.Articles)
        {
            <div class="article-preview col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <partial name="ArticlePreview" model="articleDto" />
            </div>
        }
        <div class="pagination"
             paging-info="@Model.PagingInfo"
             page-class-enabled="true"
             page-class="btn"
             page-class-selected="btn btn-primary"
             action="Index">
        </div>

    </div>
}
