@{
    ViewBag.Title = "Access Denied";
    Layout = "_Layout";
}

<h2>Access Denied</h2>

<p>You do not have permission to access this resource.</p>

<p>Please contact the administrator if you believe this is an error.</p>

<p><a asp-action="Login" asp-controller="Account"></a></p>

<p><a asp-action="Index" asp-controller="Home">Return to Home Page</a></p>

