@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>Test page for different purposes</h2>

@* <a href="~/article/index">Click here</a> *@
<a asp-area="" asp-controller="Article" asp-action="Index">Click here</a>
